# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# LLMs
ANTHROPIC_API_KEY=
GEMINI_API_KEY=

# Database
DATABASE_URL=
REDIS_URL=

# Vector DB
PINECONE_API_KEY=
PINECONE_INDEX=

# Search
SERPAPI_KEY=
